<footer>
  <div class="container">
    <div class="columns">
      <div class="column col-3 col-mx-auto">
        <a href="/">HOME</a> / <a href="/about">About</a> / <a href="https://github.com/yoshiken">Github</a>
      </div>
    </div>
  </div>
</footer>
