<footer>
  <a href="https://yoshiken.github.io/yoshiken.dev">HOME</a> / <a href="https://yoshiken.github.io/yoshiken.dev/about.html">About</a> / <a href="https://github.com/yoshiken">Github</a>
</footer>
