<meta property="og:title" content={{ title }}>
<meta property="og:description" content={{ description }}>
<meta property="og:image" content="https://mywebsite.com/image.jpg">
<meta property="og:image:alt" content="画像の説明文">
<meta property="og:locale" content="ja_JP">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:url" content={{ url }}>
