<meta property="og:title" content={{ title }}>
<meta property="og:site_name" content="yoshiken.dev" />
<meta property="og:description" content={{ description }}>
<meta property="og:image" content="https://yoshiken.dev/ogp.png">
<meta property="og:locale" content="ja_JP">
<meta property="og:type" content={{ ogtype }}>
<meta name="twitter:card" content="summary_large_image">
<meta property="og:url" content={{ url }}>
