{% with title = "yoshiken.dev",
        description = "yoshikenがプログラミングや日記、ポエムを書いていくページです。",
        url = "https://yoshiken.dev",
        ogtype = "website"
%}
{% include "common/head.j2" %}
{% endwith %}
{% include "index/body.j2" %}
