<entry>
  <id>https://yoshiken.dev/about</id>
  <title>About</title>
  <link rel='alternate' type='text/html' href='https://yoshiken.dev/about' />
  <updated>2022-05-17T00:00:00+09:00</updated>
  <summary>About</summary>
</entry>
