<entry>
  <id>https://yoshiken.dev/format</id>
  <title>format</title>
  <link>https://yoshiken.dev/format</link>
  <link rel='alternate' type='text/html' href='https://yoshiken.dev/format' />
  <updated>2022-05-17T00:00:00+09:00</updated>
  <summary>This meta is a Pelican compliant format.</summary>
</entry>
