<body>
  {% include "common/header.j2" %}
  <article>
    <h1>{{ article.title }}</h1>
    <time datetime="{{ article.date }}">{{ article.date }}</time>
    {{ article.text }}
  </article>
  {% include "common/footer.j2" %}
</body>
